<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Erro no Login</title>
  <link rel="stylesheet" href="/styleInvalido.css" />
</head>
<body>
  <div class="container">
    <h2>Não foi possível realizar o login</h2>
    <p>Usuário ou senha inválidos</p>
    <button onclick="window.location.href='/login'">Tentar de Novo</button>
  </div>
</body>
</html>
